{% extends 'base.html' %}

{% block content %}
<div class="stream">
  <div class="stream-name">
    <h4>{{ stream.name }}</h4>
    by
    <a href="{% url 'index' %}?by={{ stream.author.username }}">
      {{ stream.author.username }}
    </a>
  </div>
  {% if not stream.active %}
    <div class="offline-notice">
      <h4>This stream is offline</h4>
    </div>
  {% else %}
    <div id="stream_div">
      <video id="video" source="{{stream.dash_url}}" controls autoplay></video>
      <!--<video data-dashjs-player autoplay src="http://dash.edgesuite.net/envivio/EnvivioDash3/manifest.mpd" controls></video>-->
    </div>
  {% endif %}
  <p>
  {% if is_author %}
  Publishing url:
  <a href="{{stream.publisher_url}}">{{stream.publisher_url}}</a>.
  Paste this link into your favourite streaming software.
  For example:
  <pre><code>
ffmpeg -f alsa -i default -f v4l2 -video_size 640x480 \
-i /dev/video0 -vcodec libx264 -acodec aac -ar 44100 -f \
flv -r 25 "{{stream.publisher_url}}"
  </code></pre>
  {% endif %}
  </p>
</div>
{% endblock %}
